/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

main{
  width: 90%;
  padding:20px;
}

h1{
  font-size: 24px;
  margin: 20px 0;
}

p{
  margin: 30px;
  font-size: 12px;
  line-height: 18px;
}

.books-table{
  margin:5px;
  width:80%;
}

.table-head{
  font-size: 16px;
  text-align: center;
}

.table-item{
  font-size: 14px;
  
  text-align: left;
}

.error-explanation{
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error-ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}


